<%= user %>
<a href="/logout">Logout</a>
<h2>Hi <%= user.login %>!</h2>
<img src=<%= user.avatar_url %> />
<% languages.forEach((item)=>{ %>
<%= item.language %>:<%= item.value %>
<% }); %>
<!-- <h3>Favorite Language: </h3> -->
